.jumbotron {
    /* color: none; */
    background-image: url("../images/hero-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: absolute
    top:0;
    /* height: fit-content; */
}

.jumbotron-fluid .container-fluid {
    padding: 0 !important;
    
} */

.HeroicButton {
    margin-top: 2% !important;
    margin-bottom: 10% !important;
}

  /* HERO HEADLINE AND BODY */
.TheHeroWeChose {
    padding-bottom: 2%;
    padding-top: 2%;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 40vh;
    margin-left: 7%;
    width: 66.6%;
}

/* HERO HEADLINE */
h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold !important;
    font-size: 40pt;
    color: #eece91;
    text-shadow: rgba(54, 22, 0, 0.5) 2px 2px 10px;
}

/* SECTION HEADLINE */
h2 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 36pt !important;
    font-weight: bold !important;
    color: black;
    margin-top: 7% !important;
    text-transform: capitalize;
}

 /* ALL CAPS SUBHEAD */
h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 22pt;
    font-weight: bold !important;
    font-size: 24pt;
    line-height: 36pt;
    color: black !important;
    text-transform: uppercase;
}

/* HERO COPY */
.HeroCopy {
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 18pt;
    line-height: 24pt;
    /* position:absolute;
    top:55%; */
    color: white !important;
    /* padding-top: 5%;
    clear:right; */
}

/* BODY COPY */
.MeganTheeStallion {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 18pt !important;
    line-height: 36pt;
    margin-bottom: 7% !important;
}

/* PRIMARY NAV TEXT */
.navbar-dark .navbar-nav .nav-link .ournav {
    font-family: 'Poppins', sans-serif !important;
    font-weight: bold !important;
    font-size: 18pt !important;
    color: rgba(255,255,255,1) !important;
    text-transform: uppercase !important;   
}

.nav-link {
    padding-right: 30px !important;
}

/* DROPDOWN NAV TEXT */
.ourdropdown a {
    color: #71493A;
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 13pt !important;
    text-transform: uppercase;
}

/* NAVBAR BACKGROUND */
.navbar {
    z-index: +20;
}

.bg-dark {
    background:linear-gradient(rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%) !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-top: 0 !important;
    padding-left: 5%;
    padding-right: 8%;
}

/* .NavWithLogo {
    margin-left: 5%;
    margin-right: 10%;
    Margin-top:0%;
} */

.NavWithLogo img {
    margin-top: 20px !important;
}

/* YELLOW BUTTONS */
.PushMyButtons-Y {
    background-color: #eece91;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 18pt;
    border: none;
    border-radius:5px;
    Padding: 7px 14px 7px 14px !important;
    margin-bottom: 5%;
    position: relative;
    float:left;
}

/* BROWN BUTTONS */
.PushMyButtons-B {
    background-color: #714938;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: normal !important;
    font-size: 18pt;
    border: none;
    border-radius:5px;
    Padding: 7px 14px 7px 14px !important;
    margin-bottom: 5%;
    position: relative;
    float:left;
}



/* SECTION FORMATING */
.OurRows {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.OurSmallRows {
    display: flex;
    flex-direction: row;]
    justify-content: space-between;
}

.OurColumns {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;
}

.OurSmallColumns {
    display: flex;
    flex-direction: column;
}

.tanback .whiteback .animalprint{
    width: 100vw !important;
    margin-left:10% !important;
    margin-right:10% !important;
}

.tanback{
    background-color: #e6dcc3;
    padding-bottom: 5%;
}
.whiteback{
    background-color: #fffFff;
}
.animalprint {
    background-image: url("../images/animalprint@2x.png");
    padding-bottom: 5%;
}





.tanback .whiteback div {
    padding-left: 10%;
    margin-left: 10%;
}

.carousel-control-prev {
    left: 0 !important;
    color: black !important;
    margin-left: -15% !important;
}

.carousel-control-next {
    right: 0 !important;
    color: black !important;
    margin-right: -15% !important;
}

.card {
    background-color: #e6dcc3;
    border: none;
}

.card-img {
    height: 100%;
    width:auto;
    aspect-ratio: 1/1;
    vertical-align: middle;
    text-align: right;
}

.OurYellow {
    color: #dc9919;
}

.gray-dark .dark {
    color:#FF69B4 !important;
}

@media only screen and (max-width: 991px) {
    .TheHeroWeChose {
        padding-bottom: 2%;
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 35%;
        margin-left: 7%;
        width: 90%;
    }
}